<!doctype html>
<html>
    <head>
        <title>Finind</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>Finind OTP Authentication</h1>
            {{{body}}}
        </div>
    </body>
</html>
