{{#if error}}
    <p>{{error}}</p>
{{/if}}
<p>Please enter your phone number to receive a verification code (+91):</p>
<form method="post" action="/step2">
    <input type="tel" name="number" />
    <input type="submit" value="Send code" />
</form>
