{{#if error}}
    <p>{{error}}</p>
{{/if}}
<p>We have sent you a verification code!</p>
<p>Please enter the code here:</p>
<form method="post" action="/success">
    <input type="hidden" name="id" value="{{id}}" />
    <input type="text" name="token" class="inp-num"/>
    <input type="submit" value="Check code"  class="btn-custom"/>
</form>
